footer {
    bottom: 0;
    background: var(--los-pollos-blue);
    width: 100%;
    color: #f4f4f4;
}

.footer-container {
    padding: 1rem;
}

.footer-content {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "one one one one"
    "two three four five";
    font-size: var(--footer-font-size); 
}

.footer-section h2 {
    font-size: var(--footerh2);
}

.quick-links-container ul{
    padding: 0;
    margin: 0;
    display: grid;
    place-items: start;
    grid-template-areas:
    "one two five"
    "three four five";
}

.quick-links-container li:nth-child(1) {
    grid-area: one;
}
  .quick-links-container li:nth-child(2) {
    grid-area: two;
}
  .quick-links-container li:nth-child(3) {
    grid-area: three;
}
  .quick-links-container li:nth-child(4) {
    grid-area: four;
}
  .quick-links-container li:nth-child(5) {
    grid-area: five;
}

.quick-links-container li{
    list-style: none;
}

.quick-links-container a {
    text-decoration: none;
    color: white;
    /* font-size: clamp(0.9rem, 0.8vw, 2rem); */
}

.footer-image {
    width: 12%;
}

.footer-image img{
    width: 100%;
}

.footer-section:nth-child(1) {
    grid-area: one;
}
.footer-section:nth-child(2) {
    grid-area: two;
}
.footer-section:nth-child(3) {
    grid-area: three;
}
.footer-section:nth-child(4) {
    grid-area: four;
}
.footer-section:nth-child(5) {
    grid-area: five;
}

.footer-section>:first-child {
    margin-bottom: 0.5em;
}

.footer-section form {
    background: rgba(0,0,0,0.1);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.footer-section form input[type="text"] {
    border: none;
    line-height: 1.5rem;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
}

.footer-section form button {
    background: #CC0051;
    line-height: 1.5rem;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    padding: 0.5em 1em;
    /* margin-left: 1rem; */
    /* width: 100%; */
}

.footer-contact-details > * {
    display: block;
}

.trademark {
    text-align: center;
    font-size: clamp(0.7rem, 0.5vw, 1.3rem);
    width: 100%;
    margin: auto;
    padding: 15px;
    border-top: 1px solid #cacaca;
}
